<ul class="title-area">
  <a href="/">
    <h1 class="text-center">THE SOCIETY</h1>
  </a>
</ul>

<div class="top-bar">
  <div class="top-bar-left">
  </div>
  <div class="top-bar-middle">
    <%= render_breadcrumbs %>
  </div>
  <div class="top-bar-right">
  </div>
</div>
