
Hello!
<!--
<div class="row align-center">

  <div class="small-2 columns nav-tile">
    <div class="" data-equalizer-watch>
      <a href="/images">
        <img class="thumbnail" src="https://placehold.it/500x500.png">
      </a>
    </div>
  </div>
  <div class="small-2 columns nav-tile">
    <div class="" data-equalizer-watch>
      <a href="/file_upload">
        <img class="thumbnail" src="https://placehold.it/500x500.png">
      </a>
    </div>
  </div>
  <div class="small-2 columns nav-tile">
    <div class="" data-equalizer-watch>
      <img class="thumbnail" src="https://placehold.it/500x500.png">
    </div>
  </div>
  <div class="small-2 columns nav-tile">
    <div class="" data-equalizer-watch>
      <img class="thumbnail" src="https://placehold.it/500x500.png">
    </div>
  </div>
  <div class="small-2 columns nav-tile">
    <div class="" data-equalizer-watch>
      <img class="thumbnail" src="https://placehold.it/500x500.png">
    </div>
  </div>
  <div class="small-2 columns nav-tile">
    <div class="" data-equalizer-watch>
      <a href="https://subsonic.thesociety.dk">
        <img class="thumbnail" src="https://placehold.it/500x500.png">
      </a>
    </div>
  </div>
  <div class="small-2 columns nav-tile">
    <div class="" data-equalizer-watch>
      <img class="thumbnail" src="https://placehold.it/500x500.png">
    </div>
  </div>
  <div class="small-2 columns nav-tile disabled">
    <div class="" data-equalizer-watch>
      <img class="thumbnail" src="https://placehold.it/500x500.png">
    </div>
  </div>
  <div class="small-2 columns nav-tile disabled">
    <div class="" data-equalizer-watch>
      <img class="thumbnail" src="https://placehold.it/500x500.png">
    </div>
  </div>
</div>
-->
