



<div class="row" data-equalizer data-equalize-on="medium">
  <div class="small-12 button-group expanded">
    <a class="button custom-button">Small</a>
    <a class="button custom-button">Button</a>
    <a class="button custom-button">Group</a>
    <a class="button custom-button">Small</a>
    <a class="button custom-button">Button</a>
    <a class="button custom-button">Group</a>
  </div>
  <div class="small-4 columns nav-tile">
    <div class="" data-equalizer-watch>
      <a href="/images">
        <div class="row image-name-label">
          <div class="small-centered columns">
            <p class="text-center">Images</p>
          </div>
        </div>
        <img class="custom-thumbnail" src="https://placehold.it/500x500.png">
      </a>
    </div>
  </div>
  <div class="small-4 columns nav-tile">
    <div class="" data-equalizer-watch>
      <a href="/file_upload">
        <div class="row image-name-label">
          <div class="small-centered columns">
            <p class="text-center">File Upload</p>
          </div>
        </div>
        <img class="custom-thumbnail" src="https://thesociety.dk/images/site/original/file_upload.png">
      </a>
    </div>
  </div>
  <div class="small-4 columns nav-tile">
    <div class="" data-equalizer-watch>
      <div class="row image-name-label">
        <div class="small-centered columns">
          <p class="text-center">Minecraft</p>
        </div>
      </div>
      <img class="custom-thumbnail" src="https://placehold.it/500x500.png">
    </div>
  </div>
  <div class="small-4 columns nav-tile">
    <div class="" data-equalizer-watch>
      <div class="row image-name-label">
        <div class="small-centered columns">
          <p class="text-center">Wiki</p>
        </div>
      </div>
      <img class="custom-thumbnail" src="https://placehold.it/500x500.png">
    </div>
  </div>
  <div class="small-4 columns nav-tile">
    <div class="" data-equalizer-watch>
      <div class="row image-name-label">
        <div class="small-centered columns">
          <p class="text-center">Magic</p>
        </div>
      </div>
      <img class="custom-thumbnail" src="https://placehold.it/500x500.png">
    </div>
  </div>
  <div class="small-4 columns nav-tile">
    <div class="" data-equalizer-watch>
      <a href="https://subsonic.thesociety.dk">
        <div class="row image-name-label">
          <div class="small-centered columns">
            <p class="text-center">Subsonic</p>
          </div>
        </div>
        <img class="custom-thumbnail" src="https://placehold.it/500x500.png">
      </a>
    </div>
  </div>
  <div class="small-4 columns nav-tile">
    <div class="" data-equalizer-watch>
      <div class="row image-name-label">
        <div class="small-centered columns">
          <p class="text-center">API</p>
        </div>
      </div>
      <img class="custom-thumbnail" src="https://placehold.it/500x500.png">
    </div>
  </div>
  <div class="small-4 columns nav-tile disabled">
    <div class="" data-equalizer-watch>
      <div class="row image-name-label">
        <div class="small-centered columns">
          <p class="text-center">Unused</p>
        </div>
      </div>
      <img class="custom-thumbnail" src="https://placehold.it/500x500.png">
    </div>
  </div>
  <div class="small-4 columns nav-tile disabled">
    <div class="" data-equalizer-watch>
      <div class="row image-name-label">
        <div class="small-centered columns">
          <p class="text-center">Unused</p>
        </div>
      </div>
      <img class="custom-thumbnail" src="https://placehold.it/500x500.png">
    </div>
  </div>
</div>
