
<table>
  <thead>
  <tr>
    <% @server_info.column_names.each do |column| -%>
        <th><%= column %></th>
    <% end -%>
  </tr>
  </thead>
  <tbody>
  <tr>
        <td><%= @server_info %></td>
  </tr>
  </tbody>
</table>