.wrapper {
  width:1068px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  //background-color: #0a0908;
  //background-image: url('https://thesociety.dk/images/site/bg.jpg');
  //background-image: url(https://thesociety.dk/images/site/bg-wood.jpg);
  background-image: url(https://thesociety.dk/images/site/black-stripe.gif);
  border: 1px solid #000000;
  box-shadow: 0 0 50px 5px darkred;
}

.content-center {
  min-height: 800px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin:5px;
  border:2px solid #000000;
  background-color: #25272D;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 0 0 5px 1px black;
}
.content-banner {
  //margin:5px;
  margin-bottom:5px;
  margin-top:5px;
  margin-left:10px;
  margin-right:10px;
  border:2px solid #000000;
  background-color: #25272D;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 0 0 5px 1px black;
}

.content-menu {
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 5px;
  border: 2px solid #000000;
  background-color: #25272D;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 0 0 5px 1px black;
}

.content-right-menu {
  margin:5px;
  border:2px solid #000000;
  background-color: #25272D;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 0 0 10px 0.5px black;
}
