@import 'foundation_and_overrides';
/*
.custom-top-bar {
  @include top-bar-container(
    $topbar-padding: 0.5rem,
    $topbar-background: #454955,
    $topbar-submenu-background: #454955,
    $topbar-title-spacing: 1rem,
    $topbar-input-width: 200px,
    $topbar-unstack-breakpoint: medium
  );
}
*/